@charset "UTF-8";

.login-container {
	border: 1px solid black;
	margin: auto;
	height: 50%;
	
	width: 30%;
}

.form {
	margin-left: 15px;
	height: 10%;
	width: 90%;
}

.id {
		margin-left: 15px;
	height: 8%;
	width: 60%;
}
		
.text {
	margin-left: 15px;
	font-size: 15px;
}

.falsetext {
	text-align:center;
	font-size: 15px;
}
